TTS @ git+https://github.com/coqui-ai/TTS@29dede20d336c8250810575fcdcdbbcad8c40a44
uvicorn[standard]==0.23.2
fastapi==0.95.2
deepspeed==0.10.3
pydantic==1.10.13
python-multipart==0.0.6
typing-extensions>=4.8.0
numpy==1.24.3
cutlet
mecab-python3==1.0.6
unidic-lite==1.0.8
unidic==1.1.0
